/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require normalize
*= require foundation
*= require foundation.min
*= require contact
*= require_self
*/

body, html {
  margin: 0;
  height: 100%;
  font-size: 100%;
}

div {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#name-logo {
  background-color: black;
  color: white;
  height: 18%;
  text-align: center;
  font-size: 5em; 
  padding: 30px;
  text-transform: uppercase;
  font-weight: 900;
}

#upcoming-event {
  margin-top: 10%;
  background: white;
  height: 20%;
  font-weight: 700;
  font-size: 3.5em;
  margin-top: 5%;

}
#event-box {
  width: 50%;
  margin: 0 auto;
  background: black;
  color: white;
  padding: 4%;
  text-align: center;
}
#description {
  margin-top: 2%;
  color: black;
  height: 30%;
  line-height: 1.5;
  padding: 30px;
  text-align: center;
}
#contact-us-form {
  margin-right: 5%;
  margin-left: 5%;
  height: 100px;
  position: relative;
  margin-top: 7%;
}
.button {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 0.6em;
  text-transform: uppercase;
  background-color: #ffd700;
  color: black; 
}
.button:hover {
  background-color: black;
  color: white;
  font-weight: 700;
}
#contact-form-title {
  margin-top: 4%;
  background: black;
  height: 9%;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  position: relative;
}
#slogan {
  font-weight: 700;
  font-size: 2.5em;
}
#text {
  margin-top: 2%;
  font-size: 1.8em;
}

/*tape effect*/
#event-box {
  position: relative; /*lets us later position the tape relative to the box*/
}
#event-box:after{
  content: ''; /*create a blank psuedo element, if you wanted something written on the tape, place it between the ' '*/
  display: block;
  position: absolute; /*positions the tape relative to the box created above rather than the whole page*/
  background-color: rgba(220,212,176,0.75); /*using rgba for the colour lets us make the tape a little transparent*/
  height: 25px; /*height of the tape*/
}
#event-box:after { /*using :after places the tape on the right of the box*/
  left: 38%; /*position from the left edge of the #tape div*/
  top: -10%; /*position from the top edge of the #tape div - a negative value moves the tape 10px above of the box's edge*/
  width: 25%; /*width of the tape*/
  height: 23%;
  /*rotate the tape 20 degrees clockwise*/
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
}
/*#name {
  position: relative;
}
#name:after{
  content: ''; 
  display: block;
  position: absolute;
  background-image: url('/assets/hkhk-logo-edited.png');
  background-size: contain; 
  background-repeat:no-repeat;
}
#name:after { 
  left: -17%; 
  top: -57%; 
  width: 160%; 
  height: 160%;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
}*/


@media (max-width: 520px) {
  #contact-us-form {
    margin-top: 15%;
  }
  #description {
    margin-top: -5%;
  }
}

@media (min-width: 320px) {
    html { font-size: 40%; }
}

@media (min-width: 480px) {
    html { font-size: 50%; }
}

@media (min-width: 700px) {
    html { font-size: 70%; }
}

@media (min-width: 1024px) {
    html { font-size: 100%; }
}