/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require normalize
*= require foundation
*= require foundation.min
*= require_self
*/

body, html {
  height: 100%;
  font-size: 100%;
}

div {
  font-family: 'Lato', sans-serif;
}

#name-logo {
  background-color: black;
  color: white;
  height: auto;
  text-align: center;
  font-size: 5em;
  padding-top: 45px;
  padding-bottom: 45px;
  text-transform: uppercase;
  font-weight: 900;
}

#upcoming-event {
  background: white;
  height: auto;
  font-weight: 700;
  font-size: 3.4em;
  margin-top: 50px;
/*  border: 1px solid green;
*/}
#event-box {
  width: 60%;
  margin: 0 auto;
  background: black;
  color: white;
  padding: 2%;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
div#description {
  color: black;
  height: auto;
  line-height: 1.5;
  text-align: center;
/*  border: 1px solid red;
*/  margin-bottom: 40px;
}
#contact-us-form {
  position: relative;
  margin-top: 40px;
  float: left;
  width: 40%;
  min-width: 300px;
  padding-left: 4%;
}
.button {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 0.9em;
  text-transform: uppercase;
  background-color: #ffd700;
  color: black;
}
.button:hover,
.button:focus,
.button:active {
  background-color: black;
  color: white;
  font-weight: 700;
}
#contact-form-title,
#location-title {
  background: black;
  height: auto;
  padding: 20px;
  padding-left: 1%;
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  position: relative;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: black;
}
#location-title {
  background: none;
  color: #FFBE05;
  font-weight: 300;
}
#location-detail {
  font-size: 0.7em;
  margin-bottom: 0;
}
#slogan {
  font-weight: 700;
  font-size: 2.3em;
}
#text {
  margin-top: 2%;
  font-size: 1.5em;
  font-weight: 300;
}

/*tape effect*/
#event-box {
  position: relative; /*lets us later position the tape relative to the box*/
}
#event-box:after{
  content: ''; /*create a blank psuedo element, if you wanted something written on the tape, place it between the ' '*/
  display: block;
  position: absolute; /*positions the tape relative to the box created above rather than the whole page*/
  background-color: rgba(220,212,176,0.75); /*using rgba for the colour lets us make the tape a little transparent*/
  height: 25px; /*height of the tape*/
}
#event-box:after { /*using :after places the tape on the right of the box*/
  left: 38%; /*position from the left edge of the #tape div*/
  top: -10%; /*position from the top edge of the #tape div - a negative value moves the tape 10px above of the box's edge*/
  width: 25%; /*width of the tape*/
  height: 23%;
  /*rotate the tape 20 degrees clockwise*/
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
}
/*#name {
  position: relative;
}
#name:after{
  content: '';
  display: block;
  position: absolute;
  background-image: url('/assets/hkhk-logo-edited.png');
  background-size: contain;
  background-repeat:no-repeat;
}
#name:after {
  left: -17%;
  top: -57%;
  width: 160%;
  height: 160%;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
}*/
#subscribe-box > form .row .row .columns {
  padding: 0;
}
#subscribe-box {
/*  border: 1px solid black;
*/
  margin-bottom: 40px;
}
#mailing-list-button,
#mailing-list-input {
  font-size: 1.2em;
  height: 100%;
  width: 100%;
  font-weight: 300;
}
#mailing-list-button {
  padding: 10px
}
#mailing-list-input {
  padding: 14px
}
.platform:hover {
  color: #FFB505;
}
.platform {
  color: black;
  text-decoration: underline;
}
.map-frame {
    width: 100%;
    height: 300px;
    position: relative;
}
.map-content {
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 300px;
    background: transparent;
    color: #FFF;
}
.map-overlay {
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0 px;
    width: 100%;
    height: 300px;
    background: transparent;
}
#event-time {
  font-size: 0.7em;
  margin-bottom: -8px;
}
@media (max-width: 320px) {
    html { font-size: 30%; }
}
@media (min-width: 320px) {
    html { font-size: 40%; }
}

@media (min-width: 480px) {
    html { font-size: 50%; }
}

@media (min-width: 700px) {
    html { font-size: 70%; }
}

@media (min-width: 1024px) {
    html { font-size: 100%; }
}